
$color_1: #007bff;
$color_2: #fff;
$color_3: #fd9073;
$color_4: #000;
$font-family_1: Arial, sans-serif;
$font-family_2: "Abril Fatface", serif;
$font-family_3: "Poppins", sans-serif;
$background-color_1: #007bff;
$background-color_2: #0056b3;
$background-color_3: rgba(255, 255, 255, 0.05);

$main-pink-color: #F095FE; // Example color variable
$main-green-color: #18774D; // Example color variable
